@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    
}

:root{
    --grey: #e5e5e5;
    --light: #fff;
    --red: #db2b39;
    --blue: #29335c;
    --yellow: #f3a712;
    --orange: #f46036;
    --dark-blue: #2E294E;
    --light-blue: #6d6983;
    --teil: #1b998b;
    --blend-mode: 'darken, luminosity';
    --dark-orange: #ff5400;

    --darker-teil: #005f73;
}

/*Animations*/

.bounce2 {
    animation: bounce2 6s ease infinite;
}
 
@keyframes bounce2 {
      0%, 10%, 20%, 30%, 50%, 80%, 100% {transform: translateY(0);}
      40% {transform: translateY(-20px);}
      60% {transform: translateY(-19px);}
  }


/*Colors*/

.grey{
    color: var(--grey);
}

.light{
    color: var(--light);
}

.red{
    color:var(--red);
}

.blue{
    color: var(--blue);
}

.yellow{
    color: var(--yellow);
}

.orange{
    color: var(--orange);
}

.darkblue{
    color: var(--dark-blue);
}

.light-blue{
    color:var(--light-blue);
    background-color: var(--light-blue);
}

.btn-orange{
    background-color: var(--orange);
}

html{
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

body{
    background-color: var(--light);
    font-family: "Poppins", sans-serif;
    
}

.home-body{
    background-color: var(--blue);

}

.container{
    width: 1100px;
    margin: 0 auto;
}


img {
    width:600px;
}


.message-box{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--light);
    padding-bottom: 4rem;
    border-radius: 20px;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;

}

.message-title{
    font-family: "Fira Sans", sans-serif;
    font-size: 4rem;
    margin-bottom: 0px;
}

.message{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

/*Home Page CSS */

/*Navbar */


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 12%;
}



.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}


.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
} 


.logo_div{
    margin-right: auto;
}

.logo {
    width: 100px;
}



.nav-items{
    display: flex;
    padding: 1rem;
    cursor: pointer;
    font-weight: 300;
    
}

.nav-items a, .nav-items a:visited{
    color: var(--light);
}

.nav-items a:hover{
    color: var(--teil);
    border-bottom: 2px solid var(--teil);
    transition: 0.3s ease;
}

.nav-items .fa-brands{
    color: var(--light);
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu-icon{
    color: var(--light);
    font-size: 36px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}


.btn{
   
    border-radius: 20px;
    padding: .2rem 1.75rem;
    color: var(--light);
    background: hsla(13, 90%, 58%, 1);
    background: linear-gradient(90deg, hsla(13, 90%, 58%, 1) 0%, hsla(14, 89%, 71%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(13, 90%, 58%, 1) 0%, hsla(14, 89%, 71%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(13, 90%, 58%, 1) 0%, hsla(14, 89%, 71%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F46036", endColorstr="#F79072", GradientType=1 );
    
}

/*Navbar End*/

/*CTA Section */



.cta-info{
    
    max-width: 130rem;
    margin: 0 auto;
    padding: 6rem 0rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
    /* row-gap: 10px; */
}

.heading{
    font-size: 6rem;
    font-family: "Fira Sans", sans-serif;
    line-height: 1;
    margin-bottom: 0;  
}   

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    
}


.info-text-1{
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 10px;
}

.info-text-2{
    margin-top: 0;
    font-weight: 300;
}

.cta-btn{
    text-align: center;
    color: var(--light);
  
}

.button{
    width: 50%;
    font-weight: 500;
    border-radius: 40px;
    padding: 1rem 1.75rem;
    margin-top: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    background: hsla(13, 90%, 58%, 1);
    background: linear-gradient(90deg, hsla(13, 90%, 58%, 1) 0%, hsla(14, 89%, 71%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(13, 90%, 58%, 1) 0%, hsla(14, 89%, 71%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(13, 90%, 58%, 1) 0%, hsla(14, 89%, 71%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F46036", endColorstr="#F79072", GradientType=1 );
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}

.button-2{
    width: 50%;
    font-weight: 500;
    border-radius: 40px;
    padding: 1rem 4rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.25rem;
    background: hsla(13, 90%, 58%, 1);
    background: linear-gradient(90deg, hsla(13, 90%, 58%, 1) 0%, hsla(14, 89%, 71%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(13, 90%, 58%, 1) 0%, hsla(14, 89%, 71%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(13, 90%, 58%, 1) 0%, hsla(14, 89%, 71%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F46036", endColorstr="#F79072", GradientType=1 );
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}


.button-3{
    width: 25%;
    font-weight: 500;
    border-radius: 40px;
    padding: 0.5rem 1.75rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    background: hsla(13, 90%, 58%, 1);
    background: linear-gradient(90deg, hsla(13, 90%, 58%, 1) 0%, hsla(14, 89%, 71%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(13, 90%, 58%, 1) 0%, hsla(14, 89%, 71%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(13, 90%, 58%, 1) 0%, hsla(14, 89%, 71%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F46036", endColorstr="#F79072", GradientType=1 );
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}




.image-section{
    width: 100%;
    
}

.image-section img{
    width: 500px;
    animation: bounce2 2s ease infinite;
   
}

/*CTA CSS End*/

/*How it works section */
.howitworks{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Fira Sans", sans-serif;
    width: 100%;
    
}

.section-container{
    width: 100%;
   
}


.info-box{
    display: grid;
    /* flex-direction: row; */
    grid-template-columns: repeat(4,1fr);
    max-width: 130rem;
    margin: 0 auto;
    padding: 3rem 0rem 4rem;
    align-items: stretch;
    justify-content: center;
    gap: 30px;
  
   

}


.boxes{
    /* width: 100%; */
    background-color: var(--teil);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* text-align: center; */
    border-radius: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
    padding: 10px;    

}

.gradient-boxes{
    background: hsla(173, 70%, 35%, 1);
    background: radial-gradient(circle, hsla(173, 70%, 35%, 1) 0%, hsla(174, 71%, 25%, 1) 100%);
    background: -moz-radial-gradient(circle, hsla(173, 70%, 35%, 1) 0%, hsla(174, 71%, 25%, 1) 100%);
    background: -webkit-radial-gradient(circle, hsla(173, 70%, 35%, 1) 0%, hsla(174, 71%, 25%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#1b998b", endColorstr="#136e65", GradientType=1 );
}

.boxes h1{
    font-size: 4rem;
    margin-top:0;
    margin-bottom: 0;
    color: var(--light);
}
.boxes h2{
    font-weight: 400;
    margin-top:0;
    margin-bottom: 10px;
    color: var(--light);
}

.boxes p{
    text-align: center;
    color: var(--light);
    font-weight: 200;
    font-size: 1rem;
}
.sign-up-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-img{
    width: 100px;
}
/*How it works section end*/

/*Getting Started Section*/

.getstarted{
    padding: 4.8rem 0 9.6rem 0;
}

.call-to-action{
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    justify-content: center;
}

.line{
    padding: 4.8rem 0 2rem 0;
   
}

.line hr{
    width: 100%;
    border-top: 1px solid var(--teil);
    
}

/*Getting Started Section End*/


/*Footer*/

.footer{
    width: 1100px;
    margin: 0 auto;
}
.footer-items{
    width: 1000px;
    margin: 0 auto;
    height: 40vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-content: center;

}

.contact-us{
   display:flex;
   flex-direction: column;
   color: var(--light);
   font-weight: 300;
}


.social-links ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
   
}

.terms {
    color: var(--light);
    font-weight: 300;
}

.social-links .fa-brands{
    font-size: 2rem;
    color: var(--light);
}

/*Home Page CSS End*/


/*Contact US Page CSS Start*/

.contact-section{
padding: 6rem 0;
}



.contact-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--teil);
    border-radius: 10px;
}

.form-box{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
  /* width: 400px; */

}

.form-box form{
  padding: 0;
}

.form-box .title{
    color: white;
    font-weight: 200;
    margin-bottom: 1rem;
}


.form-box .form-input-group input{
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0.75rem 1rem;
  margin: 5px 0px;
  background-color: var(--dark-blue);
  color: var(--light);
}

.form-input-group label{
  color: var(--light);
  font-weight: 200;
}

.form-box .form-input-group textarea{
   width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0.75rem 1rem;
  margin: 5px 0px;
  resize: none;
  background-color: var(--dark-blue);
  color: var(--light);
}

.send-message-button{
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-box-info{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 10px;
}


.contact-box-info .title{
    color: white;
    font-weight: 200;
    margin-bottom: 0;
}

.contact-box-info .contact__info{
  font-weight: 200;
  color: var(--light);
  margin-top: 0;
}

.contact__info span{
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: underline;
}

.register{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}



/*Contact US Page CSS End*/

/*About US Page CSS */

.about-us-text{
    margin-top: 40px;
    color: var(--dark-blue);
    background-color: var(--light);
    padding: .5rem 2rem;
    border-radius: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);

}
.about-us-title{
    color: var(--dark-blue);
}


/*About US Page CSS End */

/*Sign Up Page */

.sign-up{
    padding: 3rem 0;
}
.sign-up-box{
    background-color: var(--teil);
    border-radius: 10px;
    padding: 2rem 2rem;
}
.sign-up-box .title{
    color: var(--dark-blue);
    font-size: 2rem;
    font-weight: 600;
}

.sign-up__form{
    margin: 0 auto;
    max-width: 700px;
}

.sign-up__form .form-input-group{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}

.sign-up__form .form-input-group input{
    background-color: var(--light);
    width: 70%;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0.75rem 1rem;
    margin: 5px 0px;
    background-color: var(--light);
 }


.sign-up__form label{
    font-weight: 500;
    color: var(--dark-blue);
}

.checkbox{
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.checkbox label{
    color: var(--dark-blue);
    font-weight: 500;
    margin-top: 20px;
}

.checkbox a{
    color: var(--dark-blue);
    text-decoration: underline;
    cursor: pointer;
}

.checkbox a:visited{
    color: var(--dark-blue);
}
/* Sign Up Page */

/*Copyright*/

.copyright-section{
    background-color: var(--teil);
}
.copyright{
 text-align: center;
 width: 100%;
 color: var(--light);
 font-weight: 300;
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 10px 0;
}

.copyright a{
    color: white;
}

/*Rates Section*/

.title-rates{
    text-align: center;
    padding:20px;
    color: var(--light);
}
.rates{
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
}
.rates .title{
    color: var(--light);
    text-align: center;
}

.rates-box{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 200px 200px;
    justify-content: center;
    gap: 20px;
}

.rates-box-2{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 400px;
    justify-content: center;
}


.rate-box{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
  background-color: var(--darker-teil);

}


.col-2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
}

.col-1{
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-direction: column;
}

.col-1 .rate-box{
    width: 100%;
}

.col-2 .rate-box{
    width: 100%;
}

.pounds{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pounds h1{
    font-weight: 300;
    color: var(--light);
}
.dollar-amount{
    text-align: center;
}
.dollar-amount h1{
    background:linear-gradient(to right,var(--orange),var(--yellow));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* color: var(--dark-orange); */
}

.dollar-amount span{
    color: white;
    font-weight: 300;
}

.special-rates{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.special-pounds{
    font-weight: 300;
    color: var(--light);
}

.request{
    background:linear-gradient(to right,var(--orange),var(--yellow));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.addition{
    color: var(--light) !important;
}



@media screen and (max-width: 399px){
 
    .container{
        max-width: 325px;
        margin: 0 auto;
    }

    .navbar ul{
        display: none;
    }

    .cta-info{
        padding: 1rem 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .image-section img{
        width: 300px;
        margin-top: 2rem
    }

   

    .button{
        width: 100%;
        padding: 0.75rem;
        margin-top: 1rem;
    }
    .info{
        max-width: 300px;
        text-align: center;
    }

    .heading
    {
        font-size: 3rem;
        font-family: "Fira Sans", sans-serif;
        line-height: 1;
        margin-bottom: 0;
    }

    .info-text-1{
        font-size: 1.2rem;
    }

    .info-text-2{
        font-size: 0.9rem;
    }
    .info-box{
        display: flex;
        flex-direction: column;
        width: 100%;

    }


   .boxes{
    display: flex;
   width: 100%;
   padding: 1rem;

   }

    
    .howitworks{
        font-size: 1.25rem;
        text-align: center;
    }

    .fa-bars{
        display: block;
    }

    .footer{
        width: 300px;
    }

    .footer-items{
        width: 300px;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
      
    }

    .contact-us ul{
        padding: 0;
        display: inline;
    }

    .social-links ul{
        padding: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
       
    }

    .social-links .fa-brands{
        font-size: 1.25rem;
    }
   

    .terms ul{
        padding: 0;
        display: inline;
    }

    .form-box{ 
        padding: 1rem;
        width: 325px;
    }

    /*Sign up Form*/

    .sign-up-box{
        padding: 1rem;
        max-width: 350px;
    }
    .sign-up-box .title{
        font-size: 1.75rem;
        text-align: center;
        margin-bottom: 10px;
    }

    .sign-up__form{
        max-width: 350px;
    }

    .sign-up__form .form-input-group{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }

    .sign-up__form .form-input-group input{
        width: 100%;
    }

    .sign-up__form button{
        width: 100%;
        
    }

    .sign-up__form .button-3{
        padding: 1rem;
        margin-bottom: 10px;
    }

    /* Contact Section */

    .contact-section{
        padding: 2rem 0;
    }
    .contact-box{
        display: flex;
        flex-direction: column;
    }

    /*About Us*/

    .about-us-text{
        margin-top: 20px;
        padding: 1rem;
        text-align: center;
        width: 325px;
    }

    /* Mobile Menu*/

    header{
        padding: 20px;
    }

    .navbar{
        position: absolute;
        top: 14%;
        right: 0%;
        width: 350px;
        height: auto;
        background: var(--teil);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
        z-index: 1001;
        display: none;
        box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);

    }

    #menu-icon{
        /* color: var(--light);
        font-size: 36px;
        cursor: pointer;
        z-index: 1001; */
        display: flex;
    }

    .ri-close-line{
        display: none;
    }

   .navbar.show{
    display: flex;
    right: 2%;
        
   }

  li.nav-items.btn{
    margin: 1rem;
  }

  /* Rates*/
.rates{
    width: 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.col-1{
    width: 100%;
}

.rates-box {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center; */
    /* gap: 20px; */
}

.pounds h1{
    font-size: 1.5rem;
}

.dollar-amount h1{
    font-size: 1.5rem;
}

.rates-box-2{
    width: 100%;
    margin: 0 auto;
}

.col-2{
    margin: 0 auto;
    width: 325px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
}

.copyright-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright{
    /* width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
}

.copyright a{
    display: inline;
}
  

}


